.link:hover {
    color: whitesmoke !important;
    background-color: #0879e9;
    transition: ease-in-out;
    border-radius: 5px;
}

.list-style-none {
    list-style: none;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 557px) {
    li {
        border-radius: 0.25rem;
    }

    li:nth-child(2n+1) {
        background-color: rgb(211, 211, 211);
    }

    li:nth-child(2n) {
        background-color: rgb(214, 239, 255);
    }
}